# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\个人资料\XH的文件夹\github\DormitoryManagementSystem-master\DormitoryManagementSystem-master\Dormitory_business\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
